/* fnonts */
@font-face { font-family: Lato; src: url('fonts/Lato-Regular.ttf'); }
@font-face { font-family: FuturaLT; src: url('fonts/FuturaLT.ttf'); }
@font-face { font-family: FuturaLT; src: url('fonts/FuturaLT-Bold.ttf');}

html{
    font-size: 100%;
}

body{
    font-family: Lato, Arial, Helvetica, sans-serif;
}


h1, h2, h3, h4, h5, h6{
    font-family: FuturaLt, Arial, Helvetica, sans-serif;
}




/* Images */

/*
img {
    max-width: 100%;
    height: auto;
}
*/


.entry-image {
    margin-bottom: 0;
}

/* links */
.more-link {
    color: currentColor;
    text-transform: uppercase;
}

.more-link:after {
    content: "";
    /* display: inline-block; */
    width: 30px;
    height: 1px;
    background-color: currentColor;
    vertical-align:middle;
    margin-left: 5px;
}

/* Decoration */

.footer-tag-Dec:before {
    content: "";
    /* display: inline-block; */
    width: 2px;
    height: 40px;
    background-color: currentColor;
    vertical-align: middle;
    margin-right: 2rem;
    position: absolute;
    left: 0;
    top: 0;
}

/* Titles */
.entry-title {
    font-size: 40px;
    text-transform: uppercase;
}
.right-title {
    white-space: nowrap;
    top: 113px;
    left: 75%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.left-title {
    white-space: nowrap;
    top: 50px;
    left: 43%;
    transform: translate(-50%, 0);
    z-index: 1;
}

/* Home Sections */
.home-section {
    margin-bottom: 120px;
}


/* Home Section 2 */
.home-section_2  h2 {
    white-space: nowrap;
    font-size: 52px;
    top: 48px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

/* Riht To Left Text  */

.rtl{
    text-align: right;
}

/* Footer Section */
.footer-section{
    margin-bottom:2000px;
}

.first-footer-section{
    margin-bottom: 120px;
}

.footer-section h2{
    text-align: center;
    font-size: 52px;
    margin-bottom: 3.6rem;
}
.footer-section .footer-tag a{
    display: inline-block;
    margin-top:100 px;
}

.footer-section h4{
    margin-top :2rem;
}

.footer-section .entry-summary-footer{
    margin-left :20px;
}

.footer-tag {
    padding-left: 2rem;
    position: relative;
}

/* Footer Side Social Icons  */
.social-icon {
    bottom:0;
    left:0;
    width: 5rem;
    min-height: 20rem;
    z-index: 1;
}

.social-icon .icon1{
    margin-top:2rem;
}

.social-icon  a{
    padding:10px 5px;
}

.social-icon a img, .social-icon a{
    display:block;
    margin-bottom:1px;
    margin-left: auto;
    margin-right: auto;
}

/* Footer Navs */
.background-footer{
background-color: #F4F4F4;
}

.site-footer li:not(:last-child){
    margin-right: 4rem;
}

.site-footer li:last-child {
    margin-right:100px;

}

.site-footer a{
    color: currentColor;
    padding:20px 5px;
    font-size:16px;
}


















