/* fnonts */
@font-face { font-family: Lato; src: url('fonts/Lato-Regular.ttf'); }
@font-face { font-family: FuturaLT; src: url('fonts/FuturaLT.ttf'); }
@font-face { font-family: FuturaLT; src: url('fonts/FuturaLT-Bold.ttf');}

html{
    font-size: 100%;
}

body{
    font-family: Lato, Arial, Helvetica, sans-serif;
}


h1, h2, h3, h4, h5, h6{
    font-family: FuturaLt, Arial, Helvetica, sans-serif;
}


/* Images */

/*
img {
    max-width: 100%;
    height: auto;
}
*/


.entry-image {
    margin-bottom: 0;
}

/* links */
.more-link {
    color: currentColor;
    text-transform: uppercase;
}

.more-link:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: currentColor;
    vertical-align:middle;
    margin-left: 5px;
}

/* Decoration */

.footer-tag-Dec:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 40px;
    background-color: currentColor;
    vertical-align: middle;
    margin-right: 10px;
}

/* Titles */
.entry-title {
    font-size: 40px;
    text-transform: uppercase;
}
.right-title {
    white-space: nowrap;
    top: 113px;
    left: 75%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.left-title {
    white-space: nowrap;
    top: 50px;
    left: 43%;
    transform: translate(-50%, 0);
    z-index: 1;
}

/* Home Sections */
.home-section {
    margin-bottom: 120px;
}


/* Home Section 2 */
.home-section_2  h2 {
    white-space: nowrap;
    font-size: 52px;
    top: 48px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

/* Riht To Left Text  */

.rtl{
    text-align: right;
}

/* Footer Section */

.first-footer-section{
    margin-bottom: 120px;
}

.footer-section h2{
    text-align: center;
    font-size: 52px;
    margin-bottom: 60px;
}

.footer-section h4{
    margin-top:52px;
    margin-left:97px;
}

.footer-section .entry-summary-footer{
    top :552px;
    left:584px;
}

/* Footer Side Social Icons  */
.side-footer {
    width: 4%;
    height: 40vh;
}

.side-footer .social-icon{
    margin-top:30px;
}

.side-footer a{
    padding:2px 2px;
}

.side-footer a img, .side-footer a{
    display:block;
    margin-bottom:1px;
}

/* Footer Navs */
.background-footer{
background-color: #F4F4F4;
}

.site-footer li:not(:last-child){
    margin-right: 20px;
}

.site-footer li:last-child {
    margin-right:100px;

}

.site-footer a{
    color: currentColor;
    padding:6px 5px;
    font-size:16px;
}


















