/* fnonts */
@font-face { font-family: Lato; src: url('fonts/Lato-Regular.ttf'); }
@font-face { font-family: FuturaLT; src: url('fonts/FuturaLT.ttf'); }
@font-face { font-family: FuturaLT-Bold; src: url('fonts/FuturaLT-Bold.ttf');}

html {
    font-size: 16px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

h1 {
    font-family: FuturaLT,Arial, Helvetica, sans-serif;

}

h2, h3, h4, h5, h6{
    font-family: FuturaLT-Bold,Arial, Helvetica, sans-serif;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

.entry-image {
    margin-bottom: 0;
}

/* links */
.more-link {
    color: currentColor;
    text-transform: uppercase;
}

.more-link:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: currentColor;
    vertical-align:middle;
    margin-left: 5px;
}

/* Decoration */
.footer-tag-Dec:before {
    content: "";
    /* display: inline-block;  */
    width: 2px;
    height: 40px;
    background-color: currentColor;
    vertical-align: middle;
    margin-right: 2rem;
    position: absolute;
    left: 0;
    top: 0;
}

/* Titles */
.entry-title {
    font-size: 2rem;
    text-transform: uppercase;
}

/* Header */
.site-header{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.hero-img {
    height: 100vh;
    margin-bottom: 120px;
    background-image: url(pic/pic1.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

}

.site-header .logo{
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.site-header ul {
    margin-bottom: 50px;
}

.site-header ul li{
    padding: 0 3vw;
}

.site-header .nav a {
    color: currentColor;
    font-size: 16px;
    text-transform: uppercase;
}

.site-header .header-title .entry-title{
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

/* Home Sections */
.home-section {
    margin-bottom: 1.5rem
}

@media (min-width: 768px) {
    .home-section {
        margin-bottom: 3.75rem
    }
}

@media (min-width: 1200px) {
    .home-section {
        margin-bottom: 7.5rem
    }
}

/* Home Section 2 */
.home-section_2  h2 {
    font-size: 2.5rem;
    left: 0;
    top: 48px;
    z-index: 1;
    width: 100%;
    text-align: center;
}

@media (min-width: 1024px) {

    .home-section .entry-title {
        width: 100vw;
        max-width: 570px;
        margin-bottom: 3rem;
    }

    /* Left aligned image */
    .left-aligned-image .entry-title {
        transform: translate(-5rem, 0);
    }

    /* Right aligned image */
    .right-aligned-image .entry-title {
        transform: translate(5rem, 0);
        text-align: right;
    }

}

/* Right aligned image */
.right-aligned-image .entry-title {
    text-align: right;
}

/* Footer Section 1 */

.first-footer-section{
    margin-bottom: 150px;
}

.footer-section h2{
    text-align: center;
    font-size: 52px;
    margin-bottom: 3.6rem;
}
.footer-section .footer-tag a{
    display: inline-block;
    margin-top:100 px;
}

.footer-section h4{
    margin-top :2rem;
}

.footer-section .entry-summary-footer{
    margin-top:-1.5rem;
}

.footer-tag {
    padding-left: 2rem;
    position: relative;
}

/* Footer Side Social Icons  */

.social-icons .icon {
    display: inline-block;
    margin-right: 3rem;
    padding: 0rem 0rem;
    padding-top: 2rem;
}

/* .social-icons-container {
    bottom:0;
    left:0;
    width: 4rem;
    min-height: 20rem;
    z-index: 1;
}

.social-icons {
    margin-top: 2rem;
}

.social-icons a{
    padding:10px 0px;
}

.social-icons a svg, .social-icons a {
    display: block;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto; */
}

/* Footer widget */
.subscribe-field-title{
    font-size: 18px;
    margin-bottom: 1rem;
}

.input-holder{
    position: relative;
}

.footer-widget .subs-widget .subscribe-field{
    border-top: 0;
    border-left: 0;
    border-right:0;
    border-bottom: 1px solid #707070;
    outline: none;
    max-width: 12rem;
    font-size: 0.7rem;
    padding:0.5rem 0.2rem;
}


.subscribe-field::placeholder{
    text-transform: uppercase;
}


.footer-widget .subs-widget .subscribe-submit{
    position: absolute;;
    bottom: 0;
    right: 0;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    /* padding: 5px 1px; */
    padding:0.5rem 0.2rem;
}

/* Footer Navs */

.site-footer nav {
    margin-right: 4rem;
}


.background-footer {
    background-color: #F4F4F4;
}

.site-footer .navbar li{
    padding:0rem 1rem;
}

.site-footer .navbar a {
    color: currentColor;
    padding: 1rem 2rem;
    font-size: 1rem;
}

@media (min-width: 1200px){
    .container-fluid{
        position: relative;
    }

    .social-icons-container {
        position: absolute;
        bottom:0;
        left:0;
        width: 3rem;
        min-height: 20rem;
        z-index: 1;
    }

    .social-icons {
        margin-top: 2rem;
    }

    /* .social-icons a{
        padding:0rem 0rem;
    } */

    .social-icons-container svg {
        display: block;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .social-icons .icon {
        display: block;
        margin-right: 0rem;
        padding: 0rem 0rem;
    }
    .icon-loc{
        padding-left: 1.5rem;
    }

    .footer-widget .subs-widget .subscribe-field{
        min-width: 15rem;
    }
}